@import "partials/mixins";

.search-icon {
    background: url('../img/search-icon.svg') no-repeat;
    @include size(24, 24);
}

.profile-icon {
    background: url('../img/profile-icon.svg') no-repeat;
    @include size(24, 24);
}

.cart-icon {
    background: url('../img/cart-icon.svg') no-repeat;
    @include size(24, 24);
}
