.grid-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
}
.grid-container:after {
  content: "";
  display: table;
  clear: both;
}

.col-1 {
  width: calc(1 / 12 * 100%);
  float: left;
  padding-left: 10px;
  padding-right: 10px;
}

.col-2 {
  width: calc(2 / 12 * 100%);
  float: left;
  padding-left: 10px;
  padding-right: 10px;
}

.col-3 {
  width: calc(3 / 12 * 100%);
  float: left;
  padding-left: 10px;
  padding-right: 10px;
}

.col-4 {
  width: calc(4 / 12 * 100%);
  float: left;
  padding-left: 10px;
  padding-right: 10px;
}

.col-5 {
  width: calc(5 / 12 * 100%);
  float: left;
  padding-left: 10px;
  padding-right: 10px;
}

.col-6 {
  width: calc(6 / 12 * 100%);
  float: left;
  padding-left: 10px;
  padding-right: 10px;
}

.col-7 {
  width: calc(7 / 12 * 100%);
  float: left;
  padding-left: 10px;
  padding-right: 10px;
}

.col-8 {
  width: calc(8 / 12 * 100%);
  float: left;
  padding-left: 10px;
  padding-right: 10px;
}

.col-9 {
  width: calc(9 / 12 * 100%);
  float: left;
  padding-left: 10px;
  padding-right: 10px;
}

.col-10 {
  width: calc(10 / 12 * 100%);
  float: left;
  padding-left: 10px;
  padding-right: 10px;
}

.col-11 {
  width: calc(11 / 12 * 100%);
  float: left;
  padding-left: 10px;
  padding-right: 10px;
}

.col-12 {
  width: calc(12 / 12 * 100%);
  float: left;
  padding-left: 10px;
  padding-right: 10px;
}

/***** 001 header styles *****/
header {
  display: flex;
}
header .primary {
  display: flex;
}
header .primary ul {
  display: flex;
  list-style: none;
}
header .primary ul li {
  text-transform: capitalize;
  margin-right: 30px;
  margin-bottom: 20px;
}
header .primary ul li .sub-menu {
  display: none;
  flex-direction: column;
}
header .primary ul li:hover .sub-menu {
  display: flex;
  padding: 20px;
  border: 1px solid #D9D9D9;
}
header .primary ul a {
  text-decoration: none;
}

.grid-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
}
.grid-container:after {
  content: "";
  display: table;
  clear: both;
}

.col-1 {
  width: calc(1 / 12 * 100%);
  float: left;
  padding-left: 10px;
  padding-right: 10px;
}

.col-2 {
  width: calc(2 / 12 * 100%);
  float: left;
  padding-left: 10px;
  padding-right: 10px;
}

.col-3 {
  width: calc(3 / 12 * 100%);
  float: left;
  padding-left: 10px;
  padding-right: 10px;
}

.col-4 {
  width: calc(4 / 12 * 100%);
  float: left;
  padding-left: 10px;
  padding-right: 10px;
}

.col-5 {
  width: calc(5 / 12 * 100%);
  float: left;
  padding-left: 10px;
  padding-right: 10px;
}

.col-6 {
  width: calc(6 / 12 * 100%);
  float: left;
  padding-left: 10px;
  padding-right: 10px;
}

.col-7 {
  width: calc(7 / 12 * 100%);
  float: left;
  padding-left: 10px;
  padding-right: 10px;
}

.col-8 {
  width: calc(8 / 12 * 100%);
  float: left;
  padding-left: 10px;
  padding-right: 10px;
}

.col-9 {
  width: calc(9 / 12 * 100%);
  float: left;
  padding-left: 10px;
  padding-right: 10px;
}

.col-10 {
  width: calc(10 / 12 * 100%);
  float: left;
  padding-left: 10px;
  padding-right: 10px;
}

.col-11 {
  width: calc(11 / 12 * 100%);
  float: left;
  padding-left: 10px;
  padding-right: 10px;
}

.col-12 {
  width: calc(12 / 12 * 100%);
  float: left;
  padding-left: 10px;
  padding-right: 10px;
}

/***** 002 base styles *****/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

.container {
  width: 1440px;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-direction: row;
}

.grid-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
}
.grid-container:after {
  content: "";
  display: table;
  clear: both;
}

.col-1 {
  width: calc(1 / 12 * 100%);
  float: left;
  padding-left: 10px;
  padding-right: 10px;
}

.col-2 {
  width: calc(2 / 12 * 100%);
  float: left;
  padding-left: 10px;
  padding-right: 10px;
}

.col-3 {
  width: calc(3 / 12 * 100%);
  float: left;
  padding-left: 10px;
  padding-right: 10px;
}

.col-4 {
  width: calc(4 / 12 * 100%);
  float: left;
  padding-left: 10px;
  padding-right: 10px;
}

.col-5 {
  width: calc(5 / 12 * 100%);
  float: left;
  padding-left: 10px;
  padding-right: 10px;
}

.col-6 {
  width: calc(6 / 12 * 100%);
  float: left;
  padding-left: 10px;
  padding-right: 10px;
}

.col-7 {
  width: calc(7 / 12 * 100%);
  float: left;
  padding-left: 10px;
  padding-right: 10px;
}

.col-8 {
  width: calc(8 / 12 * 100%);
  float: left;
  padding-left: 10px;
  padding-right: 10px;
}

.col-9 {
  width: calc(9 / 12 * 100%);
  float: left;
  padding-left: 10px;
  padding-right: 10px;
}

.col-10 {
  width: calc(10 / 12 * 100%);
  float: left;
  padding-left: 10px;
  padding-right: 10px;
}

.col-11 {
  width: calc(11 / 12 * 100%);
  float: left;
  padding-left: 10px;
  padding-right: 10px;
}

.col-12 {
  width: calc(12 / 12 * 100%);
  float: left;
  padding-left: 10px;
  padding-right: 10px;
}

/***** 003 Contact info styles *****/
.contact-info {
  background: #265E55;
  width: 100%;
  height: 70px;
  display: flex;
}
.contact-info .contact-info-list {
  display: flex;
  max-width: 40%;
  float: left;
}
.contact-info .contact-info-list li {
  display: flex;
  color: #F8DFB6;
  margin-right: 30px;
  line-height: 68px;
}
.contact-info .contact-info-list li .icon {
  margin-top: 20px;
}
.contact-info .social-list {
  display: flex;
  list-style: none;
  margin-left: auto;
  max-width: 300px;
  margin-top: 15px;
}
.contact-info .social-list li {
  margin-right: 20px;
  display: flex;
  width: 100%;
}
.contact-info .social-list li .icon {
  background: #F8DFB6;
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
}

a.social-link {
  width: 40px;
  height: 40px;
  background: #F8DFB6;
}

.grid-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
}
.grid-container:after {
  content: "";
  display: table;
  clear: both;
}

.col-1 {
  width: calc(1 / 12 * 100%);
  float: left;
  padding-left: 10px;
  padding-right: 10px;
}

.col-2 {
  width: calc(2 / 12 * 100%);
  float: left;
  padding-left: 10px;
  padding-right: 10px;
}

.col-3 {
  width: calc(3 / 12 * 100%);
  float: left;
  padding-left: 10px;
  padding-right: 10px;
}

.col-4 {
  width: calc(4 / 12 * 100%);
  float: left;
  padding-left: 10px;
  padding-right: 10px;
}

.col-5 {
  width: calc(5 / 12 * 100%);
  float: left;
  padding-left: 10px;
  padding-right: 10px;
}

.col-6 {
  width: calc(6 / 12 * 100%);
  float: left;
  padding-left: 10px;
  padding-right: 10px;
}

.col-7 {
  width: calc(7 / 12 * 100%);
  float: left;
  padding-left: 10px;
  padding-right: 10px;
}

.col-8 {
  width: calc(8 / 12 * 100%);
  float: left;
  padding-left: 10px;
  padding-right: 10px;
}

.col-9 {
  width: calc(9 / 12 * 100%);
  float: left;
  padding-left: 10px;
  padding-right: 10px;
}

.col-10 {
  width: calc(10 / 12 * 100%);
  float: left;
  padding-left: 10px;
  padding-right: 10px;
}

.col-11 {
  width: calc(11 / 12 * 100%);
  float: left;
  padding-left: 10px;
  padding-right: 10px;
}

.col-12 {
  width: calc(12 / 12 * 100%);
  float: left;
  padding-left: 10px;
  padding-right: 10px;
}

/***** 004 showcase styles *****/
.showcase {
  display: flex;
  padding: 100px 0;
}
.showcase .section-title {
  font-family: "Josefin Sans", sans-serif;
  font-size: 3rem;
}
.showcase .description {
  width: 526px;
  font-family: "Poppins", sans-serif;
  line-height: 35px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 1rem;
  color: #8F8F8F;
}
.showcase button {
  padding: 12px 24px;
  background: #fff;
  text-transform: capitalize;
  font-size: 1rem;
}
.showcase .ratings {
  display: flex;
  margin-top: 50px;
}
.showcase .user-list {
  list-style: none;
  display: flex;
  margin-top: 20px;
}
.showcase .user-list li {
  margin-left: -15px;
  width: 3.125rem;
  height: 3.125rem;
}
.showcase .user-list li.blank {
  background: #265E55;
  border-radius: 25px;
  color: #fff;
  text-align: center;
  line-height: 50px;
}
.showcase .right {
  margin-left: auto;
}

.grid-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
}
.grid-container:after {
  content: "";
  display: table;
  clear: both;
}

.col-1 {
  width: calc(1 / 12 * 100%);
  float: left;
  padding-left: 10px;
  padding-right: 10px;
}

.col-2 {
  width: calc(2 / 12 * 100%);
  float: left;
  padding-left: 10px;
  padding-right: 10px;
}

.col-3 {
  width: calc(3 / 12 * 100%);
  float: left;
  padding-left: 10px;
  padding-right: 10px;
}

.col-4 {
  width: calc(4 / 12 * 100%);
  float: left;
  padding-left: 10px;
  padding-right: 10px;
}

.col-5 {
  width: calc(5 / 12 * 100%);
  float: left;
  padding-left: 10px;
  padding-right: 10px;
}

.col-6 {
  width: calc(6 / 12 * 100%);
  float: left;
  padding-left: 10px;
  padding-right: 10px;
}

.col-7 {
  width: calc(7 / 12 * 100%);
  float: left;
  padding-left: 10px;
  padding-right: 10px;
}

.col-8 {
  width: calc(8 / 12 * 100%);
  float: left;
  padding-left: 10px;
  padding-right: 10px;
}

.col-9 {
  width: calc(9 / 12 * 100%);
  float: left;
  padding-left: 10px;
  padding-right: 10px;
}

.col-10 {
  width: calc(10 / 12 * 100%);
  float: left;
  padding-left: 10px;
  padding-right: 10px;
}

.col-11 {
  width: calc(11 / 12 * 100%);
  float: left;
  padding-left: 10px;
  padding-right: 10px;
}

.col-12 {
  width: calc(12 / 12 * 100%);
  float: left;
  padding-left: 10px;
  padding-right: 10px;
}

/***** 006 meet the team styles *****/
.meet-the-team {
  text-align: center;
}
.meet-the-team .section-title {
  font-family: "Josefin Sans", sans-serif;
  font-size: 3rem;
}
.meet-the-team p {
  color: #8F8F8F;
  margin-top: 20px;
  margin-bottom: 50px;
}
.meet-the-team .team-members {
  display: flex;
  justify-content: space-evenly;
}
.meet-the-team .team-members .info .position {
  text-transform: capitalize;
  margin-top: 10px;
  font-size: 1.125rem;
}
.meet-the-team .team-members .info .member-name {
  font-family: "Josefin Sans", sans-serif;
  margin-top: 30px;
  font-size: 2rem;
}

.grid-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
}
.grid-container:after {
  content: "";
  display: table;
  clear: both;
}

.col-1 {
  width: calc(1 / 12 * 100%);
  float: left;
  padding-left: 10px;
  padding-right: 10px;
}

.col-2 {
  width: calc(2 / 12 * 100%);
  float: left;
  padding-left: 10px;
  padding-right: 10px;
}

.col-3 {
  width: calc(3 / 12 * 100%);
  float: left;
  padding-left: 10px;
  padding-right: 10px;
}

.col-4 {
  width: calc(4 / 12 * 100%);
  float: left;
  padding-left: 10px;
  padding-right: 10px;
}

.col-5 {
  width: calc(5 / 12 * 100%);
  float: left;
  padding-left: 10px;
  padding-right: 10px;
}

.col-6 {
  width: calc(6 / 12 * 100%);
  float: left;
  padding-left: 10px;
  padding-right: 10px;
}

.col-7 {
  width: calc(7 / 12 * 100%);
  float: left;
  padding-left: 10px;
  padding-right: 10px;
}

.col-8 {
  width: calc(8 / 12 * 100%);
  float: left;
  padding-left: 10px;
  padding-right: 10px;
}

.col-9 {
  width: calc(9 / 12 * 100%);
  float: left;
  padding-left: 10px;
  padding-right: 10px;
}

.col-10 {
  width: calc(10 / 12 * 100%);
  float: left;
  padding-left: 10px;
  padding-right: 10px;
}

.col-11 {
  width: calc(11 / 12 * 100%);
  float: left;
  padding-left: 10px;
  padding-right: 10px;
}

.col-12 {
  width: calc(12 / 12 * 100%);
  float: left;
  padding-left: 10px;
  padding-right: 10px;
}

.interior-modern {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  background: #F8f8f8;
  margin-top: 115px;
  display: flex;
  border: 1 solid #d2d2d2;
}
.interior-modern .left {
  padding-left: 75px;
  padding-top: 62px;
}
.interior-modern .left .sub-title {
  text-transform: capitalize;
}
.interior-modern .left .section-title {
  font-size: 2.5rem;
}
.interior-modern .left .shop-now-btn {
  padding: 15px 60px;
  margin-top: 30px;
  font-size: 1.125rem;
}
.interior-modern .left .shop-now-btn:hover {
  cursor: pointer;
}
.interior-modern .right {
  margin-left: auto;
  margin-top: -90px;
  margin-right: 0;
  width: 38%;
}

.grid-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
}
.grid-container:after {
  content: "";
  display: table;
  clear: both;
}

.col-1 {
  width: calc(1 / 12 * 100%);
  float: left;
  padding-left: 10px;
  padding-right: 10px;
}

.col-2 {
  width: calc(2 / 12 * 100%);
  float: left;
  padding-left: 10px;
  padding-right: 10px;
}

.col-3 {
  width: calc(3 / 12 * 100%);
  float: left;
  padding-left: 10px;
  padding-right: 10px;
}

.col-4 {
  width: calc(4 / 12 * 100%);
  float: left;
  padding-left: 10px;
  padding-right: 10px;
}

.col-5 {
  width: calc(5 / 12 * 100%);
  float: left;
  padding-left: 10px;
  padding-right: 10px;
}

.col-6 {
  width: calc(6 / 12 * 100%);
  float: left;
  padding-left: 10px;
  padding-right: 10px;
}

.col-7 {
  width: calc(7 / 12 * 100%);
  float: left;
  padding-left: 10px;
  padding-right: 10px;
}

.col-8 {
  width: calc(8 / 12 * 100%);
  float: left;
  padding-left: 10px;
  padding-right: 10px;
}

.col-9 {
  width: calc(9 / 12 * 100%);
  float: left;
  padding-left: 10px;
  padding-right: 10px;
}

.col-10 {
  width: calc(10 / 12 * 100%);
  float: left;
  padding-left: 10px;
  padding-right: 10px;
}

.col-11 {
  width: calc(11 / 12 * 100%);
  float: left;
  padding-left: 10px;
  padding-right: 10px;
}

.col-12 {
  width: calc(12 / 12 * 100%);
  float: left;
  padding-left: 10px;
  padding-right: 10px;
}

.testimonials {
  text-align: center;
  padding-top: 100px;
}
.testimonials .section-title {
  font-size: 2.5rem;
  text-transform: capitalize;
}
.testimonials .testimonials-list {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: center;
  margin-top: 80px;
}
.testimonials .testimonials-list .title {
  font-size: 1.25rem;
  text-transform: capitalize;
  margin-bottom: 20px;
  text-align: left;
}
.testimonials .testimonials-list .description {
  font-size: 0.875rem;
  text-align: left;
}
.testimonials .testimonials-list li {
  list-style: none;
  max-width: 364px;
  margin-right: 46px;
}
.testimonials .meta {
  text-align: left;
}

.grid-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
}
.grid-container:after {
  content: "";
  display: table;
  clear: both;
}

.col-1 {
  width: calc(1 / 12 * 100%);
  float: left;
  padding-left: 10px;
  padding-right: 10px;
}

.col-2 {
  width: calc(2 / 12 * 100%);
  float: left;
  padding-left: 10px;
  padding-right: 10px;
}

.col-3 {
  width: calc(3 / 12 * 100%);
  float: left;
  padding-left: 10px;
  padding-right: 10px;
}

.col-4 {
  width: calc(4 / 12 * 100%);
  float: left;
  padding-left: 10px;
  padding-right: 10px;
}

.col-5 {
  width: calc(5 / 12 * 100%);
  float: left;
  padding-left: 10px;
  padding-right: 10px;
}

.col-6 {
  width: calc(6 / 12 * 100%);
  float: left;
  padding-left: 10px;
  padding-right: 10px;
}

.col-7 {
  width: calc(7 / 12 * 100%);
  float: left;
  padding-left: 10px;
  padding-right: 10px;
}

.col-8 {
  width: calc(8 / 12 * 100%);
  float: left;
  padding-left: 10px;
  padding-right: 10px;
}

.col-9 {
  width: calc(9 / 12 * 100%);
  float: left;
  padding-left: 10px;
  padding-right: 10px;
}

.col-10 {
  width: calc(10 / 12 * 100%);
  float: left;
  padding-left: 10px;
  padding-right: 10px;
}

.col-11 {
  width: calc(11 / 12 * 100%);
  float: left;
  padding-left: 10px;
  padding-right: 10px;
}

.col-12 {
  width: calc(12 / 12 * 100%);
  float: left;
  padding-left: 10px;
  padding-right: 10px;
}

.tabbed-container .tabbed-header {
  display: flex;
  list-style: none;
  padding: 0;
}
.tabbed-container .tabbed-header .tab {
  padding: 10px 20px;
  background: #eee;
  cursor: pointer;
}
.tabbed-container .tabbed-header .tab:active {
  background: #ccc;
}
.tabbed-container .tabbed-content .tab-content {
  display: none;
}
.tabbed-container .tabbed-content .tab-content.active {
  display: block;
}

.grid-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
}
.grid-container:after {
  content: "";
  display: table;
  clear: both;
}

.col-1 {
  width: calc(1 / 12 * 100%);
  float: left;
  padding-left: 10px;
  padding-right: 10px;
}

.col-2 {
  width: calc(2 / 12 * 100%);
  float: left;
  padding-left: 10px;
  padding-right: 10px;
}

.col-3 {
  width: calc(3 / 12 * 100%);
  float: left;
  padding-left: 10px;
  padding-right: 10px;
}

.col-4 {
  width: calc(4 / 12 * 100%);
  float: left;
  padding-left: 10px;
  padding-right: 10px;
}

.col-5 {
  width: calc(5 / 12 * 100%);
  float: left;
  padding-left: 10px;
  padding-right: 10px;
}

.col-6 {
  width: calc(6 / 12 * 100%);
  float: left;
  padding-left: 10px;
  padding-right: 10px;
}

.col-7 {
  width: calc(7 / 12 * 100%);
  float: left;
  padding-left: 10px;
  padding-right: 10px;
}

.col-8 {
  width: calc(8 / 12 * 100%);
  float: left;
  padding-left: 10px;
  padding-right: 10px;
}

.col-9 {
  width: calc(9 / 12 * 100%);
  float: left;
  padding-left: 10px;
  padding-right: 10px;
}

.col-10 {
  width: calc(10 / 12 * 100%);
  float: left;
  padding-left: 10px;
  padding-right: 10px;
}

.col-11 {
  width: calc(11 / 12 * 100%);
  float: left;
  padding-left: 10px;
  padding-right: 10px;
}

.col-12 {
  width: calc(12 / 12 * 100%);
  float: left;
  padding-left: 10px;
  padding-right: 10px;
}

/***** 008 icon styles *****/
.icon {
  margin-right: 10px;
}

.search-icon {
  background: url("../img/search-icon.svg") no-repeat;
  width: 1.5rem;
  height: 1.5rem;
}

.profile-icon {
  background: url("../img/profile-icon.svg") no-repeat;
  width: 1.5rem;
  height: 1.5rem;
}

.cart-icon {
  background: url("../img/cart-icon.svg") no-repeat;
  width: 1.5rem;
  height: 1.5rem;
}

.email-icon {
  background: url("../img/email-icon.svg") no-repeat;
  width: 1.5rem;
  height: 1.5rem;
}

.phone-icon {
  background: url("../img/phone-icon.svg") no-repeat;
  width: 1.5rem;
  height: 1.5rem;
}

.instagram-icon {
  background: url("../img/instagram-icon.svg") center center no-repeat;
  width: 1.5rem;
  height: 1.5rem;
}

.twitter-icon {
  background: url("../img/twitter-icon.svg") center center no-repeat;
  width: 1.5rem;
  height: 1.5rem;
}

.tiktok-icon {
  background: url("../img/tiktok-icon.svg") center center no-repeat;
  width: 1.5rem;
  height: 1.5rem;
}

.rating-icon {
  background: url("../img/star-icon.png") center center no-repeat;
  width: 1.5rem;
  height: 1.5rem;
}

body {
  background: #fff;
}
