/***** 001 header styles *****/
header {
  height: 105px;
  display: flex;
}
header a.logo {
  font-size: 2rem;
  line-height: 105px;
  color: #265E55;
  text-decoration: none;
}
header .primary {
  margin-left: 349px;
}
header .primary ul {
  list-style-type: none;
  display: flex;
}
header .primary li {
  margin-left: 50px;
}
header .primary li:nth-child(1) {
  margin-left: 0;
}
header .primary a {
  line-height: 105px;
  font-family: "Poppins", sans-serif;
  font-size: 1.125rem;
  text-transform: capitalize;
  text-decoration: none;
  color: #000201;
}
header .secondary {
  margin-left: auto;
  margin-top: 38px;
}
header .secondary ul {
  list-style-type: none;
  display: flex;
}
header .secondary li {
  margin-left: 30px;
  line-height: 105px;
}

/***** 002 base styles *****/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

.container {
  width: 1440px;
  margin: 0 auto;
}

/***** 003 Contact info styles *****/
.contact-info {
  background: #265E55;
  width: 100%;
  height: 70px;
  display: flex;
}
.contact-info .contact-info-list {
  display: flex;
  max-width: 40%;
  float: left;
}
.contact-info .contact-info-list li {
  display: flex;
  color: #F8DFB6;
  margin-right: 30px;
  line-height: 68px;
}
.contact-info .contact-info-list li .icon {
  margin-top: 20px;
}
.contact-info .social-list {
  display: flex;
  list-style: none;
  margin-left: auto;
  max-width: 300px;
  margin-top: 15px;
}
.contact-info .social-list li {
  margin-right: 20px;
}
.contact-info .social-list li .icon {
  background: #F8DFB6;
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
}

a.social-link {
  width: 40px;
  height: 40px;
  background: #F8DFB6;
}

/***** 004 showcase styles *****/
.showcase {
  display: flex;
  padding: 100px 0;
}
.showcase .section-title {
  font-family: "Josefin Sans", sans-serif;
  font-size: 3rem;
}
.showcase .description {
  width: 526px;
  font-family: "Poppins", sans-serif;
  line-height: 35px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 1rem;
  color: #8F8F8F;
}
.showcase button {
  padding: 12px 24px;
  background: #fff;
  text-transform: capitalize;
  font-size: 1rem;
}
.showcase .ratings {
  display: flex;
  margin-top: 50px;
}
.showcase .user-list {
  list-style: none;
  display: flex;
  margin-top: 20px;
}
.showcase .user-list li {
  margin-left: -15px;
  width: 3.125rem;
  height: 3.125rem;
}
.showcase .user-list li.blank {
  background: #265E55;
  border-radius: 25px;
  color: #fff;
  text-align: center;
  line-height: 50px;
}
.showcase .right {
  margin-left: auto;
}

/***** 006 meet the team styles *****/
.meet-the-team {
  text-align: center;
}
.meet-the-team .section-title {
  font-family: "Josefin Sans", sans-serif;
  font-size: 3rem;
}
.meet-the-team p {
  color: #8F8F8F;
  margin-top: 20px;
  margin-bottom: 50px;
}
.meet-the-team .team-members {
  display: flex;
  justify-content: space-evenly;
}
.meet-the-team .team-members .info .position {
  text-transform: capitalize;
  margin-top: 10px;
  font-size: 1.125rem;
}
.meet-the-team .team-members .info .member-name {
  font-family: "Josefin Sans", sans-serif;
  margin-top: 30px;
  font-size: 2rem;
}

/***** 008 icon styles *****/
.icon {
  margin-right: 10px;
}

.search-icon {
  background: url("../img/search-icon.svg") no-repeat;
  width: 1.5rem;
  height: 1.5rem;
}

.profile-icon {
  background: url("../img/profile-icon.svg") no-repeat;
  width: 1.5rem;
  height: 1.5rem;
}

.cart-icon {
  background: url("../img/cart-icon.svg") no-repeat;
  width: 1.5rem;
  height: 1.5rem;
}

.email-icon {
  background: url("../img/email-icon.svg") no-repeat;
  width: 1.5rem;
  height: 1.5rem;
}

.phone-icon {
  background: url("../img/phone-icon.svg") no-repeat;
  width: 1.5rem;
  height: 1.5rem;
}

.instagram-icon {
  background: url("../img/instagram-icon.svg") center center no-repeat;
  width: 1.5rem;
  height: 1.5rem;
}

.twitter-icon {
  background: url("../img/twitter-icon.svg") center center no-repeat;
  width: 1.5rem;
  height: 1.5rem;
}

.tiktok-icon {
  background: url("../img/tiktok-icon.svg") center center no-repeat;
  width: 1.5rem;
  height: 1.5rem;
}

.rating-icon {
  background: url("../img/star-icon.png") center center no-repeat;
  width: 1.5rem;
  height: 1.5rem;
}

body {
  background: #fafafa;
}
