//@import "vars";
//@import "mixins";
//.contact-info {
//    background: $clr-contact-info;
//    width: 100%;
//    height: 70px;
//    .left {
//        @include flex();
//        .contact-info-list {
//            @include flex();
//        }
//
//        width: 40%;
//
//        li {
//            @include flex();
//            @include text-color($clr-contact-info-text);
//
//            margin-right: 30px;
//            line-height: 70px - 2px;
//
//            .icon {
//                margin-top: 20px;
//            }
//        }
//    }
//
//    .right {
//        @include flex();
//        width: 60%;
//        margin-left: auto;
//        border: 3px solid #f00;
//    }
//}

@import "vars";
@import "mixins";

.contact-info {
    background: $clr-contact-info;
    width: 100%;
    height: 70px;

    @include flex();
    //display: flex; /* Add flex display to the container */

    .left {
        //@include flex();
        width: 40%;


    }
    .contact-info-list {
        @include flex();
        max-width: 40%;
        float: left;
        li {
            @include flex();
            @include text-color($clr-contact-info-text);
            margin-right: 30px;
            line-height: 70px - 2px;

            .icon {
                margin-top: 20px;
            }
        }
    }


    .social-list {
        @include flex();
        list-style: none;
        margin-left: auto;
        max-width: 300px;
        margin-top: 15px;
        li {
            margin-right: 20px;

            .icon {
                background: $clr-contact-social;
                @include size(40, 40);
                @include flex();
                justify-content: center;
                align-items: center;
                border-radius: 0.5rem;
            }
        }

        //border: 3px solid #f00;


    }


}
a.social-link {
    width: 40px;
    height: 40px;

    background: $clr-contact-social;
}
