@import "vars";
@import "mixins";

/***** 002 base styles *****/
* {
   @include reset-body-styles();
}

body {
    font-family: $base-font-family;
}
.container {
    width: 1440px;
    margin: 0 auto;
}

.row {
    @include flex();
}

