@import "vars";
@import "mixins";

/***** 001 header styles *****/
header {
    @include flex();
    .primary {
        @include flex();

        ul {
            @include flex();
            @include unstyled-list();
        }

        li {
            text-transform: capitalize;
            margin-right: 30px;
            margin-bottom: 20px;

            .sub-menu {
                display: none;
                flex-direction: column;
            }

            &:hover .sub-menu {
                @include flex();

                padding: 20px;
                border: 1px solid #D9D9D9;
            }
        }

        a {
            @include reset-link();
        }
    } // .primary

    .secondary {

    } // .secondary
}
