@import "vars";
@import "mixins";

/***** 001 header styles *****/
header {
    @include flex();
    //flex-direction: row;

    ul {
        @include flex();

        @include unstyled-list();

        a {
            @include reset-link();
            @include text-size(18);

            line-height: 35px;
            text-transform: capitalize;

        }
    }

    .secondary {
        margin-left: auto;
    }
    .logo {
        font-family: $base-font-family;
        text-decoration: none;

        @include text-size(32);
        @include text-color(#265E55);

        font-weight: bold;
    }
}
