$base-font-family: "Poppins", sans-serif;
$heading-font-family: "Josefin Sans", sans-serif;

$clr-logo-font: #265E55;
$clr-link-text: #000201;

$clr-contact-info: #265E55;
$clr-contact-info-text: #F8DFB6;
$clr-contact-social: #F8DFB6;

$clr-description: #8F8F8F;
$clr-interior-modern: #F8f8f8;

$mobile-width: 767px;
$tablet-width: 1023px;
$desktop-width: 1024px;
$large-desktop-width: 1440px;
$extra-large-desktop-width: 1920px;
$extra-extra-large-desktop-width: 2560px;
$uhd-desktop: 3840px;

$mobile-landscape: 480px;
$tablet-landscape: 768px;
$desktop-landscape: 1024px;
$large-desktop-landscape: 1440px;
$extra-large-desktop-landscape: 1920px;
$extra-extra-large-desktop-landscape: 2560px;
$uhd-desktop-landscape: 3840px;

$column-count: 12;
$gutter-width: 20px;

