$base-font-family: "Poppins", sans-serif;
$heading-font-family: "Josefin Sans", sans-serif;

$clr-logo-font: #265E55;
$clr-link-text: #000201;

$clr-contact-info: #265E55;
$clr-contact-info-text: #F8DFB6;
$clr-contact-social: #F8DFB6;

$clr-description: #8F8F8F;

