@import "partials/mixins";

/***** 008 icon styles *****/
.icon {
    margin-right: 10px;
}
.search-icon {
    background: url('../img/search-icon.svg') no-repeat;
    @include size(24, 24);
}

.profile-icon {
    background: url('../img/profile-icon.svg') no-repeat;
    @include size(24, 24);
}

.cart-icon {
    background: url('../img/cart-icon.svg') no-repeat;
    @include size(24, 24);
}

.email-icon {
    background: url('../img/email-icon.svg') no-repeat;
    @include size(24, 24);
}

.phone-icon {
    background: url('../img/phone-icon.svg') no-repeat;
    @include size(24, 24);
}

.instagram-icon {
    background: url('../img/instagram-icon.svg') center center no-repeat;
    @include size(24, 24);
}

.twitter-icon {
    background: url('../img/twitter-icon.svg') center center no-repeat;
    @include size(24, 24);
}

.tiktok-icon {
    background: url('../img/tiktok-icon.svg') center center no-repeat;
    @include size(24, 24);
}


.rating-icon {
    background: url('../img/star-icon.png') center center no-repeat;
    @include size(24, 24);
}

.admin-icon {
    background: url('../img/index/admin-icon.png') center center no-repeat;
    @include size(18, 18);
}

.calendar-icon {
    background: url('../img/index/calander-icon.png') center center no-repeat;
    @include size(18, 18);
}
