@import "mixins";

/***** 008 icon styles *****/
.icon {
    margin-right: 10px;
}
.search-icon {
    background: url('img-icon.svg') no-repeat;
    @include size(24, 24);
}

.profile-icon {
    background: url('imge-icon.svg') no-repeat;
    @include size(24, 24);
}

.cart-icon {
    background: url('imgcon.svg') no-repeat;
    @include size(24, 24);
}

.email-icon {
    background: url('imgicon.svg') no-repeat;
    @include size(24, 24);
}

.phone-icon {
    background: url('imgicon.svg') no-repeat;
    @include size(24, 24);
}

.instagram-icon {
    background: url('imgram-icon.svg') center center no-repeat;
    @include size(24, 24);
}

.twitter-icon {
    background: url('imgr-icon.svg') center center no-repeat;
    @include size(24, 24);
}

.tiktok-icon {
    background: url('img-icon.svg') center center no-repeat;
    @include size(24, 24);
}


.rating-icon {
    background: url('imgcon.png') center center no-repeat;
    @include size(24, 24);
}
